# Analysis My Spotify Music Taste (Analytics Dashboard)

## Import Packages

In [1]:
import os
import json
import pandas as pd
import spotipy
sp = spotipy.Spotify()
from spotipy.oauth2 import SpotifyClientCredentials
import spotipy.util as util
import keys
from sqlalchemy import create_engine

## Extraction of the Datasets

In [9]:
cid = keys.cid
secret = keys.secret
username = keys.username

os.environ['SPOTIPY_CLIENT_ID']= cid
os.environ['SPOTIPY_CLIENT_SECRET']= secret
os.environ['SPOTIPY_REDIRECT_URI']='http://localhost'

### Liked Songs

In [10]:
ccm = SpotifyClientCredentials(client_id = cid, client_secret = secret)
sp = spotipy.Spotify(client_credentials_manager = ccm)

scope = 'user-library-read'

token = spotipy.util.prompt_for_user_token(username, scope)

if token:
    spotipy_obj = spotipy.Spotify(auth=token)
    saved_tracks_resp = spotipy_obj.current_user_saved_tracks(limit=50)
else:
    print('Couldn\'t get token for that username')

In [11]:
sp = spotipy.Spotify(auth=token)
list_of_artist_names = []
list_of_artist_uri = []
list_of_song_names = []
list_of_song_uri = []
list_of_durations_ms = []
list_of_explicit = []
list_of_albums = []
list_of_popularity = []
list_of_release_date = []
list_of_liked_date = []

for offset in range(0, 750, 50):
    results = sp.current_user_saved_tracks(limit= 50, offset = offset)
    for idx, item in enumerate(results['items']):
        track = item['track']
        this_artists_name = track['artists'][0]['name']
        list_of_artist_names.append(this_artists_name)
        this_artists_uri = track["artists"][0]["uri"]
        list_of_artist_uri.append(this_artists_uri)
        list_of_songs = track["name"]
        list_of_song_names.append(list_of_songs)
        song_uri = track["uri"]
        list_of_song_uri.append(song_uri)
        list_of_duration = track["duration_ms"]
        list_of_durations_ms.append(list_of_duration)
        song_explicit = track["explicit"]
        list_of_explicit.append(song_explicit)
        this_album = track["album"]["name"]
        list_of_albums.append(this_album)
        song_popularity = track["popularity"]
        list_of_popularity.append(song_popularity)
        song_release_date = track["album"]["release_date"]
        list_of_release_date.append(song_release_date)
        liked_date = item['added_at']
        list_of_liked_date.append(liked_date)

In [12]:
Liked_songs = pd.DataFrame(
    {'artist': list_of_artist_names,
     'artist_uri': list_of_artist_uri,
     'song': list_of_song_names,
     'song_uri': list_of_song_uri,
     'duration_ms': list_of_durations_ms,
     'explicit': list_of_explicit,
     'album': list_of_albums,
     'popularity': list_of_popularity,
     'release date': list_of_release_date,
     'liked_date': list_of_liked_date
    })

# saving data frame
# Liked_songs = Liked_songs.to_csv('Liked_songs.csv')

### Recently Played

In [13]:
scope = 'user-read-recently-played'
token = spotipy.util.prompt_for_user_token(username, scope)

Using `localhost` as redirect URI without a port. Specify a port (e.g. `localhost:8080`) to allow automatic retrieval of authentication code instead of having to copy and paste the URL your browser is redirected to.

Enter the URL you were redirected to:  http://localhost/?code=AQDNeLiBcZ_qL9J_DtyybaaezR9IgkK4pgcrwQyJ7SzniOyjtERHBgM2OGdbcies0nv3tLuwO6R78B5TEnBazhJ58llL3bya_XieHExDMfXW6hB_yG0LE2ilFqLWnz4uaTT3t5axZrBG6Kb-zpFH_R2rgxhyTQ7quUHQ1YZoa_-3yi0R3Q5mDNHgljEp38Y

In [14]:
sp = spotipy.Spotify(auth=token)
list_of_artist_names = []
list_of_artist_uri = []
list_of_song_names = []
list_of_song_uri = []
list_of_durations_ms = []
list_of_explicit = []
list_of_albums = []
list_of_popularity = []
list_of_release_date = []
list_of_time_played = []

# there is no offset - only before or after time
for offset in range(0, 50, 50):
    results = sp.current_user_recently_played(limit= 50)
    for idx, item in enumerate(results['items']):
        track = item['track']
        this_artists_name = track['artists'][0]['name']
        list_of_artist_names.append(this_artists_name)
        this_artists_uri = track["artists"][0]["uri"]
        list_of_artist_uri.append(this_artists_uri)
        list_of_songs = track["name"]
        list_of_song_names.append(list_of_songs)
        song_uri = track["uri"]
        list_of_song_uri.append(song_uri)
        list_of_duration = track["duration_ms"]
        list_of_durations_ms.append(list_of_duration)
        song_explicit = track["explicit"]
        list_of_explicit.append(song_explicit)
        this_album = track["album"]["name"]
        list_of_albums.append(this_album)
        song_popularity = track["popularity"]
        list_of_popularity.append(song_popularity)
        song_release_date = track["album"]["release_date"]
        list_of_release_date.append(song_release_date)
        time_played = item['played_at']
        list_of_time_played.append(time_played)

In [15]:
Recently_played = pd.DataFrame(
    {'artist': list_of_artist_names,
     'artist_uri': list_of_artist_uri,
     'song': list_of_song_names,
     'song_uri': list_of_song_uri,
     'duration_ms': list_of_durations_ms,
     'explicit': list_of_explicit,
     'album': list_of_albums,
     'popularity': list_of_popularity,
     'release date': list_of_release_date,
     'time_played': list_of_time_played
    })

# saving data frame
# Recently_played = Recently_played.to_csv('Recently_played.csv')

### Top Tracks

In [16]:
scope = 'user-top-read'
token = util.prompt_for_user_token(username, scope)

Using `localhost` as redirect URI without a port. Specify a port (e.g. `localhost:8080`) to allow automatic retrieval of authentication code instead of having to copy and paste the URL your browser is redirected to.

Enter the URL you were redirected to:  http://localhost/?code=AQBFpTF19hBaeR01_OLunI507Uggj6XW797vGkuf9-5vFfET3eJVJOq4urwwaNa_Ai1e1V9RsIYO0JUD556Z21E2xsjJVKtEUztBzdh2n6AGVXFekwTEkPOXq7A_8RMB0WufZkNu2iYW0ZAUPPJYNKrkKyi2TX1mEV9AcWBL0kig_MU

In [17]:
# short term
sp = spotipy.Spotify(auth=token)
list_of_artist_names = []
list_of_artist_uri = []
list_of_song_names = []
list_of_song_uri = []
list_of_durations_ms = []
list_of_explicit = []
list_of_albums = []
list_of_popularity = []
list_of_release_date = []

# cant get more than 50
for offset in range(0, 50, 50):
    results = sp.current_user_top_tracks(limit=50, offset = offset, time_range='short_term')
    for idx, item in enumerate(results['items']):
        this_artists_name = item['artists'][0]['name']
        list_of_artist_names.append(this_artists_name)
        this_artists_uri = item["artists"][0]["uri"]
        list_of_artist_uri.append(this_artists_uri)
        list_of_songs = item["name"]
        list_of_song_names.append(list_of_songs)
        song_uri = item["uri"]
        list_of_song_uri.append(song_uri)
        list_of_duration = item["duration_ms"]
        list_of_durations_ms.append(list_of_duration)
        song_explicit = item["explicit"]
        list_of_explicit.append(song_explicit)
        this_album = item["album"]["name"]
        list_of_albums.append(this_album)
        song_popularity = item["popularity"]
        list_of_popularity.append(song_popularity)
        song_release_date = item["album"]["release_date"]
        list_of_release_date.append(song_release_date)

In [18]:
top_tracks_short = pd.DataFrame(
    {'artist': list_of_artist_names,
     'artist_uri': list_of_artist_uri,
     'song': list_of_song_names,
     'song_uri': list_of_song_uri,
     'duration_ms': list_of_durations_ms,
     'explicit': list_of_explicit,
     'album': list_of_albums,
     'popularity': list_of_popularity,
     'release date': list_of_release_date
    })

# top_tracks_short = top_tracks_short.to_csv('top_tracks_short.csv')

In [19]:
# medium term
sp = spotipy.Spotify(auth=token)
list_of_artist_names = []
list_of_artist_uri = []
list_of_song_names = []
list_of_song_uri = []
list_of_durations_ms = []
list_of_explicit = []
list_of_albums = []
list_of_popularity = []
list_of_release_date = []

# cant get more than 50
for offset in range(0, 50, 50):
    results = sp.current_user_top_tracks(limit=50, offset = offset, time_range='medium_term')
    for idx, item in enumerate(results['items']):
        this_artists_name = item['artists'][0]['name']
        list_of_artist_names.append(this_artists_name)
        this_artists_uri = item["artists"][0]["uri"]
        list_of_artist_uri.append(this_artists_uri)
        list_of_songs = item["name"]
        list_of_song_names.append(list_of_songs)
        song_uri = item["uri"]
        list_of_song_uri.append(song_uri)
        list_of_duration = item["duration_ms"]
        list_of_durations_ms.append(list_of_duration)
        song_explicit = item["explicit"]
        list_of_explicit.append(song_explicit)
        this_album = item["album"]["name"]
        list_of_albums.append(this_album)
        song_popularity = item["popularity"]
        list_of_popularity.append(song_popularity)
        song_release_date = item["album"]["release_date"]
        list_of_release_date.append(song_release_date)

In [20]:
top_tracks_medium = pd.DataFrame(
    {'artist': list_of_artist_names,
     'artist_uri': list_of_artist_uri,
     'song': list_of_song_names,
     'song_uri': list_of_song_uri,
     'duration_ms': list_of_durations_ms,
     'explicit': list_of_explicit,
     'album': list_of_albums,
     'popularity': list_of_popularity,
     'release date': list_of_release_date
    })

#top_tracks_medium = top_tracks_medium.to_csv('top_tracks_medium.csv')

In [21]:
# long term
sp = spotipy.Spotify(auth=token)
list_of_artist_names = []
list_of_artist_uri = []
list_of_song_names = []
list_of_song_uri = []
list_of_durations_ms = []
list_of_explicit = []
list_of_albums = []
list_of_popularity = []
list_of_release_date = []

# cant get more than 50
for offset in range(0, 50, 50):
    results = sp.current_user_top_tracks(limit=50, offset = offset, time_range='long_term')
    for idx, item in enumerate(results['items']):
        this_artists_name = item['artists'][0]['name']
        list_of_artist_names.append(this_artists_name)
        this_artists_uri = item["artists"][0]["uri"]
        list_of_artist_uri.append(this_artists_uri)
        list_of_songs = item["name"]
        list_of_song_names.append(list_of_songs)
        song_uri = item["uri"]
        list_of_song_uri.append(song_uri)
        list_of_duration = item["duration_ms"]
        list_of_durations_ms.append(list_of_duration)
        song_explicit = item["explicit"]
        list_of_explicit.append(song_explicit)
        this_album = item["album"]["name"]
        list_of_albums.append(this_album)
        song_popularity = item["popularity"]
        list_of_popularity.append(song_popularity)
        song_release_date = item["album"]["release_date"]
        list_of_release_date.append(song_release_date)

In [22]:
top_tracks_long = pd.DataFrame(
    {'artist': list_of_artist_names,
     'artist_uri': list_of_artist_uri,
     'song': list_of_song_names,
     'song_uri': list_of_song_uri,
     'duration_ms': list_of_durations_ms,
     'explicit': list_of_explicit,
     'album': list_of_albums,
     'popularity': list_of_popularity,
     'release date': list_of_release_date
    })

#top_tracks_long = top_tracks_long.to_csv('top_tracks_long.csv')

### Top Artists

In [24]:
# short term
sp = spotipy.Spotify(auth=token)
list_of_artist_names = []
list_of_artist_uri = []
list_of_popularity = []
list_of_genres = []

# cant get more than 50
for offset in range(0, 50, 50):
    results = sp.current_user_top_artists(limit=50, offset = offset, time_range='short_term')
    for idx, item in enumerate(results['items']):
        this_artists_name = item['name']
        list_of_artist_names.append(this_artists_name)
        this_artists_uri = item["uri"]
        list_of_artist_uri.append(this_artists_uri)
        song_popularity = item["popularity"]
        list_of_popularity.append(song_popularity)
        genres = item['genres']
        genres = ','.join(genres)
        list_of_genres.append(genres)

In [25]:
top_artist_short = pd.DataFrame(
    {'artist': list_of_artist_names,
     'artist_uri': list_of_artist_uri,
     'popularity': list_of_popularity,
     'genres': list_of_genres
    })

#top_artist_short = top_artist_short.to_csv('top_artist_short.csv')

In [26]:
# medium term
sp = spotipy.Spotify(auth=token)
list_of_artist_names = []
list_of_artist_uri = []
list_of_popularity = []
list_of_genres = []

# cant get more than 50
for offset in range(0, 50, 50):
    results = sp.current_user_top_artists(limit=50, offset = offset, time_range='medium_term')
    for idx, item in enumerate(results['items']):
        this_artists_name = item['name']
        list_of_artist_names.append(this_artists_name)
        this_artists_uri = item["uri"]
        list_of_artist_uri.append(this_artists_uri)
        song_popularity = item["popularity"]
        list_of_popularity.append(song_popularity)
        genres = item['genres']
        genres = ','.join(genres)
        list_of_genres.append(genres)

In [27]:
top_artist_medium = pd.DataFrame(
    {'artist': list_of_artist_names,
     'artist_uri': list_of_artist_uri,
     'popularity': list_of_popularity,
     'genres': list_of_genres
    })

#top_artist_medium = top_artist_medium.to_csv('top_artist_medium.csv')

In [28]:
# long term
sp = spotipy.Spotify(auth=token)
list_of_artist_names = []
list_of_artist_uri = []
list_of_popularity = []
list_of_genres = []

# cant get more than 50
for offset in range(0, 50, 50):
    results = sp.current_user_top_artists(limit=50, offset = offset, time_range='long_term')
    for idx, item in enumerate(results['items']):
        this_artists_name = item['name']
        list_of_artist_names.append(this_artists_name)
        this_artists_uri = item["uri"]
        list_of_artist_uri.append(this_artists_uri)
        song_popularity = item["popularity"]
        list_of_popularity.append(song_popularity)
        genres = item['genres']
        genres = ','.join(genres)
        list_of_genres.append(genres)

In [29]:
top_artist_long = pd.DataFrame(
    {'artist': list_of_artist_names,
     'artist_uri': list_of_artist_uri,
     'popularity': list_of_popularity,
     'genres': list_of_genres
    })

#top_artist_long = top_artist_long.to_csv('top_artist_long.csv')

## MySQL Connection

In [2]:
connection_string = keys.connection_str
engine = create_engine(connection_string, echo=True)
connection = engine.connect()

2023-05-29 14:02:58,017 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-05-29 14:02:58,019 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-29 14:02:58,021 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-05-29 14:02:58,021 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-29 14:02:58,022 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-05-29 14:02:58,022 INFO sqlalchemy.engine.Engine [raw sql] {}

In [3]:
q1 = """
SELECT table_name 
FROM information_schema.tables
WHERE table_schema = 'spotify';
"""
result1 = pd.read_sql(q1,connection)
result1

2023-05-29 14:02:59,040 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-29 14:02:59,041 INFO sqlalchemy.engine.Engine DESCRIBE `spotify`.`
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'spotify';
`
2023-05-29 14:02:59,041 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-29 14:02:59,042 INFO sqlalchemy.engine.Engine
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'spotify';

2023-05-29 14:02:59,042 INFO sqlalchemy.engine.Engine [raw sql] {}

          TABLE_NAME
0            artists
1        liked_songs
2    recently_played
3    top_artist_long
4  top_artist_medium
5   top_artist_short
6    top_tracks_long
7  top_tracks_medium
8   top_tracks_short

In [4]:
q2 = """
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = N'liked_songs';
"""

result2 = pd.read_sql(q2,connection)
result2

2023-05-29 14:03:00,466 INFO sqlalchemy.engine.Engine DESCRIBE `spotify`.`
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = N'liked_songs';
`
2023-05-29 14:03:00,467 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-29 14:03:00,468 INFO sqlalchemy.engine.Engine
SELECT *
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = N'liked_songs';

2023-05-29 14:03:00,468 INFO sqlalchemy.engine.Engine [raw sql] {}

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,COLUMN_NAME,ORDINAL_POSITION,COLUMN_DEFAULT,IS_NULLABLE,DATA_TYPE,CHARACTER_MAXIMUM_LENGTH,CHARACTER_OCTET_LENGTH,...,DATETIME_PRECISION,CHARACTER_SET_NAME,COLLATION_NAME,COLUMN_TYPE,COLUMN_KEY,EXTRA,PRIVILEGES,COLUMN_COMMENT,GENERATION_EXPRESSION,SRS_ID
0,def,spotify,liked_songs,FIELD1,1,None,NO,int,NaN,NaN,...,None,None,None,int,PRI,,"select,insert,update,references",,,None
1,def,spotify,liked_songs,artist,2,None,NO,varchar,26.0,104.0,...,None,utf8mb4,utf8mb4_0900_ai_ci,varchar(26),,,"select,insert,update,references",,,None
2,def,spotify,liked_songs,artist_uri,3,None,NO,varchar,37.0,148.0,...,None,utf8mb4,utf8mb4_0900_ai_ci,varchar(37),,,"select,insert,update,references",,,None
3,def,spotify,liked_songs,song,4,None,NO,varchar,87.0,348.0,...,None,utf8mb4,utf8mb4_0900_ai_ci,varchar(87),,,"select,insert,update,references",,,None
4,def,spotify,liked_songs,song_uri,5,None,NO,varchar,36.0,144.0,...,None,utf8mb4,utf8mb4_0900_ai_ci,varchar(36),,,"select,insert,update,references",,,None
5,def,spotify,liked_songs,duration_ms,6,None,NO,int,NaN,NaN,...,None,None,None,int,,,"select,insert,update,references",,,None
6,def,spotify,liked_songs,explicit,7,None,NO,varchar,5.0,20.0,...,None,utf8mb4,utf8mb4_0900_ai_ci,varchar(5),,,"select,insert,update,references",,,None
7,def,spotify,liked_songs,album,8,None,NO,varchar,87.0,348.0,...,None,utf8mb4,utf8mb4_0900_ai_ci,varchar(87),,,"select,insert,update,references",,,None
8,def,spotify,liked_songs,popularity,9,None,NO,int,NaN,NaN,...,None,None,None,int,,,"select,insert,update,references",,,None
9,def,spotify,liked_songs,release_date,10,None,NO,varchar,10.0,40.0,...,None,utf8mb4,utf8mb4_0900_ai_ci,varchar(10),,,"select,insert,update,references",,,None
10,def,spotify,liked_songs,liked_date,11,None,NO,varchar,20.0,80.0,...,None,utf8mb4,utf8mb4_0900_ai_ci,varchar(20),,,"select,insert,update,references",,,None

In [5]:
# get most recent liked song (by release date)
q3 = """
SELECT artist, song, popularity, CAST(liked_date AS date) AS liked_date, CAST(release_date AS date) AS release_date
FROM liked_songs
ORDER BY release_date DESC
LIMIT 10;
"""

result3 = pd.read_sql(q3,connection)
result3

2023-05-29 14:03:00,880 INFO sqlalchemy.engine.Engine DESCRIBE `spotify`.`
SELECT artist, song, popularity, CAST(liked_date AS date) AS liked_date, CAST(release_date AS date) AS release_date
FROM liked_songs
ORDER BY release_date DESC
LIMIT 10;
`
2023-05-29 14:03:00,880 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-29 14:03:00,881 INFO sqlalchemy.engine.Engine
SELECT artist, song, popularity, CAST(liked_date AS date) AS liked_date, CAST(release_date AS date) AS release_date
FROM liked_songs
ORDER BY release_date DESC
LIMIT 10;

2023-05-29 14:03:00,882 INFO sqlalchemy.engine.Engine [raw sql] {}

,artist,song,popularity,liked_date,release_date
0,SLANDER,Wish I Could Forget (with blackbear & Bring Me...,71,2023-05-24,2023-05-19
1,Post Malone,Chemical,90,2023-04-16,2023-04-14
2,Miley Cyrus,Jaded,84,2023-04-01,2023-03-10
3,Jay Park,Yesterday,67,2023-02-13,2023-02-13
4,SZA,Nobody Gets Me,86,2023-04-26,2022-12-09
5,Avril Lavigne,I’m a Mess (with YUNGBLUD),60,2023-01-15,2022-11-25
6,Gryffin,After You (feat. Calle Lehmann),53,2023-03-22,2022-11-04
7,JIN,The Astronaut,83,2023-02-05,2022-10-28
8,Taylor Swift,Midnight Rain,77,2022-10-28,2022-10-22
9,The 1975,I'm In Love With You,76,2023-03-31,2022-10-14

In [6]:
# most popular liked songs
q4 = """
SELECT artist, song, popularity, CAST(liked_date AS date) AS liked_date, CAST(release_date AS date) AS release_date
FROM liked_songs
ORDER BY popularity DESC
LIMIT 10;
"""

result4 = pd.read_sql(q4,connection)
result4

2023-05-29 14:03:01,264 INFO sqlalchemy.engine.Engine DESCRIBE `spotify`.`
SELECT artist, song, popularity, CAST(liked_date AS date) AS liked_date, CAST(release_date AS date) AS release_date
FROM liked_songs
ORDER BY popularity DESC
LIMIT 10;
`
2023-05-29 14:03:01,264 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-29 14:03:01,265 INFO sqlalchemy.engine.Engine
SELECT artist, song, popularity, CAST(liked_date AS date) AS liked_date, CAST(release_date AS date) AS release_date
FROM liked_songs
ORDER BY popularity DESC
LIMIT 10;

2023-05-29 14:03:01,266 INFO sqlalchemy.engine.Engine [raw sql] {}

           artist               song  popularity  liked_date release_date
0            d4vd       Here With Me          94  2023-01-16   2022-09-22
1    David Guetta    I'm Good (Blue)          94  2022-10-01   2022-08-26
2      The Weeknd            Starboy          93  2019-05-23   2016-11-25
3     OneRepublic    I Ain't Worried          93  2022-06-19   2022-05-13
4    Harry Styles          As It Was          92  2022-04-01   2022-03-31
5    Taylor Swift       Cruel Summer          92  2022-05-14   2019-08-23
6        Coldplay             Yellow          91  2021-09-24   2000-07-10
7            d4vd  Romantic Homicide          91  2023-01-16   2022-07-20
8  Lizzy McAlpine           ceilings          90  2023-05-04   2022-04-08
9     Post Malone           Chemical          90  2023-04-16   2023-04-14

In [7]:
# top artist from liked songs 
q5 = """
SELECT artist, COUNT(*) AS num_liked_songs, AVG(popularity) AS mean_popularity_of_songs
FROM liked_songs
GROUP BY artist
ORDER BY num_liked_songs DESC
LIMIT 10;
"""

result5 = pd.read_sql(q5,connection)
result5

2023-05-29 14:03:01,720 INFO sqlalchemy.engine.Engine DESCRIBE `spotify`.`
SELECT artist, COUNT(*) AS num_liked_songs, AVG(popularity) AS mean_popularity_of_songs
FROM liked_songs
GROUP BY artist
ORDER BY num_liked_songs DESC
LIMIT 10;
`
2023-05-29 14:03:01,721 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-29 14:03:01,722 INFO sqlalchemy.engine.Engine
SELECT artist, COUNT(*) AS num_liked_songs, AVG(popularity) AS mean_popularity_of_songs
FROM liked_songs
GROUP BY artist
ORDER BY num_liked_songs DESC
LIMIT 10;

2023-05-29 14:03:01,722 INFO sqlalchemy.engine.Engine [raw sql] {}

                artist  num_liked_songs  mean_popularity_of_songs
0         Taylor Swift               26                   76.3077
1  5 Seconds of Summer               24                   31.6250
2         Shawn Mendes               24                   62.8333
3        Justin Bieber               19                   70.3684
4                  BTS               17                   20.0000
5        Ariana Grande               17                   71.9412
6    Machine Gun Kelly               16                   51.1250
7                keshi               13                   58.0769
8              Rihanna               13                   65.9231
9                 Lauv               13                   13.5385

In [8]:
# top artist from recently played
q6 = """
SELECT artist, COUNT(*) AS num_liked_songs, AVG(popularity) AS mean_popularity_of_songs
FROM recently_played
GROUP BY artist
ORDER BY num_liked_songs DESC
LIMIT 5;
"""

result6 = pd.read_sql(q6,connection)
result6

2023-05-29 14:03:02,504 INFO sqlalchemy.engine.Engine DESCRIBE `spotify`.`
SELECT artist, COUNT(*) AS num_liked_songs, AVG(popularity) AS mean_popularity_of_songs
FROM recently_played
GROUP BY artist
ORDER BY num_liked_songs DESC
LIMIT 5;
`
2023-05-29 14:03:02,504 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-29 14:03:02,505 INFO sqlalchemy.engine.Engine
SELECT artist, COUNT(*) AS num_liked_songs, AVG(popularity) AS mean_popularity_of_songs
FROM recently_played
GROUP BY artist
ORDER BY num_liked_songs DESC
LIMIT 5;

2023-05-29 14:03:02,506 INFO sqlalchemy.engine.Engine [raw sql] {}

            artist  num_liked_songs  mean_popularity_of_songs
0             NIKI               13                   68.6923
1  Before You Exit                2                   50.0000
2     Charlie Puth                2                   81.0000
3         88rising                2                   64.5000
4            dhruv                1                   84.0000

In [9]:
# join on artists dataset -> my ranking short, medium, long and popularity and genre
# get all unique artist 
q7 = """
SELECT a.artist, s.FIELD1 + 1 AS short_ranking, m.FIELD1 + 1 AS medium_ranking, l.FIELD1 + 1 AS long_ranking,
a.popularity, a.genres
FROM artists AS a
LEFT JOIN top_artist_short AS s
ON a.artist = s.artist
LEFT JOIN top_artist_medium AS m
ON a.artist = m.artist
LEFT JOIN top_artist_long AS l
on a.artist = l.artist
ORDER BY artist;
"""

result7 = pd.read_sql(q7,connection)
result7

2023-05-29 14:03:04,774 INFO sqlalchemy.engine.Engine DESCRIBE `spotify`.`
SELECT a.artist, s.FIELD1 + 1 AS short_ranking, m.FIELD1 + 1 AS medium_ranking, l.FIELD1 + 1 AS long_ranking,
a.popularity, a.genres
FROM artists AS a
LEFT JOIN top_artist_short AS s
ON a.artist = s.artist
LEFT JOIN top_artist_medium AS m
ON a.artist = m.artist
LEFT JOIN top_artist_long AS l
on a.artist = l.artist
ORDER BY artist;
`
2023-05-29 14:03:04,775 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-05-29 14:03:04,776 INFO sqlalchemy.engine.Engine
SELECT a.artist, s.FIELD1 + 1 AS short_ranking, m.FIELD1 + 1 AS medium_ranking, l.FIELD1 + 1 AS long_ranking,
a.popularity, a.genres
FROM artists AS a
LEFT JOIN top_artist_short AS s
ON a.artist = s.artist
LEFT JOIN top_artist_medium AS m
ON a.artist = m.artist
LEFT JOIN top_artist_long AS l
on a.artist = l.artist
ORDER BY artist;

2023-05-29 14:03:04,776 INFO sqlalchemy.engine.Engine [raw sql] {}

,artist,short_ranking,medium_ranking,long_ranking,popularity,genres
0,5 Seconds of Summer,2.0,6.0,10.0,78,"boy band,pop"
1,88rising,13.0,38.0,NaN,67,asian american hip hop
2,Alesso,NaN,42.0,NaN,75,"dance pop,edm,pop,pop dance,progressive electr..."
3,Arctic Monkeys,NaN,18.0,NaN,87,"garage rock,modern rock,permanent wave,rock,sh..."
4,Ariana Grande,30.0,34.0,15.0,89,pop
...,...,...,...,...,...,...
81,Troye Sivan,17.0,33.0,18.0,74,"australian pop,pop,viral pop"
82,Why Don't We,NaN,47.0,13.0,70,"boy band,pop"
83,YUNGBLUD,35.0,NaN,NaN,69,"british indie rock,modern rock,pov: indie,rock"
84,ZAYN,21.0,NaN,21.0,76,"pop,uk pop"
85,Zedd,41.0,40.0,NaN,75,"complextro,edm,german techno,pop,pop dance"

In [22]:
# most popular genre??? - from artist dataset